  <%-include("../../views/partials/user/header")%>

  <!-- HERO -->
  <section class="hero">
  <img  src="/images/default-hero.jpg"></section>

  <!-- EXPLORE -->
  <div class="explore">Explore More →</div>

  <!-- PRODUCTS -->
  <section class="product-grid">
    <div class="product-card">   
      <img src="/images/Rectangle 325.jpg">
      <p>ZWV reversible angora cardigan</p>
    </div>
    <div class="product-card">
      <img src="/images/expm2.jpg">
      <p>Clothing bag</p>
    </div>
    <div class="product-card">
      <img src="/images/expm3.jpg">
      <p>ZWV reversible angora cardigan</p>
    </div>
    <div class="product-card">
      <img src="/images/expm4.jpg">
      <p>ZWV reversible angora cardigan</p>
    </div>
  </section>

  <!-- CELEBRITY -->
  <div class="section-title">CELEBRITY APPROVED STYLES</div>

  <section class="hero">
    <img src="/images/pexels-aksioart-1926769.jpg">
  </section>

  <!-- OLD MONEY -->
  <div class="section-title">OLD MONEY</div>

  <section class="product-grid">
    <div class="product-card">
      <img src="/images/Rectangle 325.jpg">
      <p>ZWV reversible angora cardigan</p>
    </div>
    <div class="product-card">
      <img src="/images/expm2.jpg">
      <p>Linen espada</p>
    </div>
    <div class="product-card">
      <img src="/images/expm3.jpg">
      <p>ZWV reversible angora cardigan</p>
    </div>
    <div class="product-card">
      <img src="/images/expm4.jpg">
      <p>ZWV reversible angora cardigan</p>
    </div>
  </section>

  <!-- INFO -->
  <section class="info">
    <h3>WestLane</h3>
    <p>Making a luxurious lifestyle accessible for a generous group of women is our daily drive.</p>

    <div class="info-grid">
      <div>Fast shipping. Free on orders over $25.</div>
      <div>Sustainable process from start to finish.</div>
      <div>Unique designs and high-quality materials.</div>
      <div>Fast shipping. Free on orders over $25.</div>
    </div>
  </section>

  <%-include("../../views/partials/user/footer")%>
  